@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200&display=swap');

#nameTitle {
  font-family: 'Lobster', sans-serif;
  font-weight: 200;
}

#indexContainer {
  max-width: 1280px;
}  

.card-body {
  margin-top: 15px;
}

#projectHeader {
  background-image: url(/videos/Buildings3.gif); 
  background-repeat: no-repeat; 
  background-position: center;
}

#glass {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px); 
  background: inherit; 
  width: 400px;
}

.projectCard {
  min-height: 470px;
}


